language: ruby
cache:
  bundler: true
  yarn: true
services:
  - redis-server
sudo: required
before_install:
  - sudo apt-get update
  - sudo apt-get install google-chrome-stable
  - nvm install --lts
addons:
  postgresql: '9.6'
before_script:
  - psql -c "CREATE ROLE BonVoyage WITH PASSWORD 'BonVoyage';" -U postgres
  - psql -c 'create database bon_voyage;' -U postgres
script:
  - bundle exec rake db:create:all
  - bundle exec rake db:migrate
  - bundle exec rake db:schema:load
  - bundle exec rake db:test:prepare
  - SECRET_KEY_BASE=a RAILS_ENV=production bundle exec rake assets:precompile
  - bundle exec rake test
  - bundle exec rake test:system
