// set basics fonts

body {
  h1, h2, h3, h4, h5 {
    font-family: $font-family-h1-h2, cursive;
  }
  h6 {
    font-family: $font-family-h3-h6, cursive;
  }
  p {
    font-family: $font-family-p, sans-serif;
  }

  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    margin-bottom: 0px;
  }
  a {
    font-size: 16px;
  }
}

@media(max-width: 650px) {
  body {
    h1 {
      font-size: 56px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 10px;
    }
    h6 {
      font-size: 10px;
    }
    p {
      font-size: 10px;
      margin-bottom: 0px;
    }
    a {
      font-size: 10px;
    }
  }
}

.underline-yellow {
  opacity: 0.95;
  padding: 0px 5px;
  background: linear-gradient(to top, $yellow 40%, transparent 40%)
}

.underline-green {
  padding: 0px 5px;
  background: linear-gradient(to top, $green 40%, transparent 40%)
}

.underline-red {
  padding: 0px 5px;
  background: linear-gradient(to top, $red 40%, transparent 40%)
}

.writting-green {
  color: $green;
}

.writting-yellow {
  color: $yellow;
}

.writting-red {
  color: $red;
}
