// Define variables for your color scheme

// For example:
$yellow: #FFE600;
$green: #04C200;
$black: #151515;
$white: #FFFF;
$red: #CD3131;

$blue: #167FFB;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
