<div class="dashboard-navbar-container">
  <div class="dashboard-navbar-box dashboard-navbar-border" id="artist-show-navbar-musics" data-artist-target="artist_show_navbar_musics" data-action="click->artist#artist_show_change">
    <h6>Popular songs</h6>
  </div>
  <div class="dashboard-navbar-box" id="artist-show-navbar-albums" data-artist-target="artist_show_navbar_albums" data-action="click->artist#artist_show_change">
    <h6>Albums</h6>
  </div>
  <div class="dashboard-navbar-box" id="artist-show-navbar-album" data-artist-target="artist_show_navbar_album" data-action="click->artist#artist_show_change">
    <h6>Most popular album</h6>
  </div>
</div>
