<div class="dashboard-navbar-container">
  <div class="dashboard-navbar-box" id="dashboard-navbar-explore" data-explorer-target="dashboard_navbar_explore" data-action="click->explorer#dashboard_change">
    <h6>Explore</h6>
  </div>
  <div class="dashboard-navbar-box dashboard-navbar-border" id="dashboard-navbar-artists" data-explorer-target="dashboard_navbar_artists" data-action="click->explorer#dashboard_change">
    <h6>Artists</h6>
  </div>
  <div class="dashboard-navbar-box" id="dashboard-navbar-albums" data-explorer-target="dashboard_navbar_albums" data-action="click->explorer#dashboard_change">
    <h6>Albums</h6>
  </div>
  <div class="dashboard-navbar-box" id="dashboard-navbar-playlists" data-explorer-target="dashboard_navbar_playlists" data-action="click->explorer#dashboard_change">
    <h6>Playlists</h6>
  </div>
</div>
