<div class="dashboard-navbar-container">
  <div class="dashboard-navbar-box" id="dashboard-navbar-explore">
    <h6>Explore</h6>
  </div>
  <div class="dashboard-navbar-box dashboard-navbar-border" id="dashboard-navbar-artists" data-artist-target="dashboard_navbar_dashboard" data-action="click->artist#dashboard_change">
    <h6>Artists</h6>
  </div>
  <div class="dashboard-navbar-box" id="dashboard-navbar-albums" data-artist-target="dashboard_navbar_dashboard" data-action="click->artist#dashboard_change">
    <h6>Albums</h6>
  </div>
  <div class="dashboard-navbar-box" id="dashboard-navbar-playlists" data-artist-target="dashboard_navbar_works" data-action="click->artist#dashboard_change">
    <h6>Playlists</h6>
  </div>
</div>
