<div class="dashboard-navbar-container">
  <div class="dashboard-navbar-box dashboard-navbar-border" id="rakings-navbar-artists" data-explorer-target="rakings_navbar_artists" data-action="click->explorer#rakings_change">
    <h6>Artists</h6>
  </div>
  <div class="dashboard-navbar-box" id="rakings-navbar-albums" data-explorer-target="rakings_navbar_albums" data-action="click->explorer#rakings_change">
    <h6>Albums</h6>
  </div>
  <div class="dashboard-navbar-box" id="rakings-navbar-musics" data-explorer-target="rakings_navbar_musics" data-action="click->explorer#rakings_change">
    <h6>Musics</h6>
  </div>
</div>
