<h1>This is the <%= @explorer.nickname %> show</h1>
<p>find me in app/views/explorer/show.html.erb</p>

<%= link_to "Destroy session", destroy_explorer_session_path, method: :delete, data: {confirm: "Are you sure ?"} %>
