<div class="m-5">
  <h1>This is the componeents page</h1>

  <h3>TODO: definitions</h3>
  <p>2 border radius</p>
  <p>5 colors (black, yellow, green, blue, white)</p>
  <p>2 fonts (cf www.dribbble.com)</p>
  <p>different margins to set commun boxes</p>

  <h3>TODO: logo (image ?)</h3>
  <p>yellow artist / album logo = yellow primary logo</p>
  <p>yellow nav bar logo = yellow secondary logo</p>
  <p>yellow music logo = yellow third logo</p>
  <p>white artist / album logo = white primary logo</p>
  <p>white music logo = white third logo</p>

  <h3>TODO: butons</h3>
  <p>home page buton = primary buton</p>
  <p>main nav bar butons = secondary buton</p>

  <h3>TODO: avatar</h3>
  <p>(show) artist's avatar = primary avatar</p>
  <p>(card) artist's avatar = secondary avatar</p>
  <p>explorer's avatar = third avatar</p>

  <h3>TODO: images</h3>
  <p>album's / playlist's image = primary image</p>
  <p>music's image = secondary image</p>

  <h3>TODO: main nav bar</h3>
  <p>logo + butons, avatar, logo</p>

  <h3>TODO: artist card</h3>
  <p></p>
</div>
