<div class="m-5">
  <div class="mb-3">
    <h1> -- COMPONENTS PAGE -- </h1>
  </div>

  <div class="mb-3">
    <h3> -- FONTS -- </h3>
    <h1>This is a h1</h1>
    <h2>This is a h2</h2>
    <h3>This is a h3</h3>
    <h4>This is a h4</h4>
    <h5>This is a h5</h5>
    <h6>This is a h6</h6>
    <p>This is a paragraphe</p>
  </div>

  <h3>TODO: definitions</h3>
  <p>2 border radius</p>
  <p>5 colors (black, yellow, green, blue, white)</p>
  <p>different margins to set commun boxes</p>

  <h3>TODO: logo (image ?)</h3>
  <p>yellow artist / album logo = yellow primary logo</p>
  <p>yellow nav bar logo = yellow secondary logo</p>
  <p>yellow music logo = yellow third logo</p>
  <p>white artist / album logo = white primary logo</p>
  <p>white music logo = white third logo</p>

  <h3>TODO: butons</h3>
  <p>home page buton = primary buton</p>
  <p>main nav bar butons = secondary buton</p>

  <h3>TODO: avatar</h3>
  <p>(show) artist's avatar = primary avatar</p>
  <p>(card) artist's avatar = secondary avatar</p>
  <p>explorer's avatar = third avatar</p>

  <h3>TODO: images</h3>
  <p>album's / playlist's image = primary image</p>
  <p>music's image = secondary image</p>

  <h3>TODO: main nav bar</h3>
  <p>logo + butons, avatar, logo</p>

  <h3>TODO: artist card</h3>
  <p></p>
</div>
