<div class="m-5">
  <h1>This the creation of a new album</h1>
  <p>find me in app/views/albums/new.html.erb</p>

  <div class="m-3">
    <%= simple_form_for [@artist, @album] do |f| %>
      <%= f.input :name %>
      <%= f.input :meaning %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
