.artist-album-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $white;
  border-radius: $border-radius;
  width: 13em;
  height: 13em;

  @media(max-width: 650px) {
    width: 10em;
    height: 10em;
  }
}

.album-card-update-btn {
  position: absolute;
  top: 3%;
  left: 86%;
  img {
    height: 1em;
    width: 1em;
  }

  @media(max-width: 650px) {
    top: 0%;
    left: 89%;
  }
}

