.dashboard-navbar-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 80%;
  max-width: 900px;
}

.dashboard-navbar-box {
  width: 33%;
  display: flex;
  justify-content: center;
  padding: 1em;

  h6 {
    margin: 0px;
  }
}

.dashboard-navbar-border {
  border-bottom: 1px solid $white;
}

#dashboard-navbar-post a {
  color: $yellow;
  opacity: 0.9;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 1;
    text-decoration: none;
    transition: all 0.3s ease-out;
    transform: scale(1.01);
  }
}

#dashboard-navbar-explore {
  color: $green;
  opacity: 0.9;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 1;
    transform: scale(1.01);
    transition: all 0.3s ease-out;
  }
  border-color: $green;
}
