.music-player {
  min-width: 35%;
  height: 80%;
  background-color: $gray;

  @media(max-width: 650px) {
    min-width: 40%;
  }
}

.music-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 40px;
  max-width: 700px;
  background-color: $gray;
  border-radius: $border-radius-sm-2;
  margin-bottom: 0.2em;

  h6 {
    margin: 0px;
  }
  @media(max-width: 650px) {
    width: 95%;
  }
}

.music-card-name {
  min-width: 160px;

  @media(max-width: 650px) {
    min-width: 60px;
  }
}

.music-card-index {
  width: 100px;

  @media(max-width: 650px) {
    display: none;
  }
}

.music-card-photo {
  width: 3em;

  @media(max-width: 650px) {
    margin-left: 5px;
  }
}

.music-card-plays {
  width: 160px;

  @media(max-width: 650px) {
    min-width: 60px;
  }
}

.music-card-fans {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;

  @media(max-width: 650px) {
    width: 60px;
  }
}

.music-card-more-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

.circle {
  margin: 1px 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $white;
}
