.jquery-modal {
  padding: 0px;
}

#new-playlist_music-modal {
  background: transparent;
  min-width: 100%;
  padding: 0px;

  select {
    width: 100%;
  }
}

#new-playlist-modal {
  position: absolute;
  background: transparent;
  min-width: 100%;
  padding: 0px;
  z-index: 1041;
}
