.rect-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;

  @media(max-width: 650px) {
    grid-template-columns: 1fr;
  }
}

.rect-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $white;
  border-radius: $border-radius;
  width: 13em;
  height: 13em;

  @media(max-width: 650px) {
    width: 10em;
    height: 10em;
  }
  h6 {
    margin: 0px;
  }
}

.rect-card-main-btn {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.rect-card-top-right-btn {
  position: absolute;
  z-index: 2;
  top: 3%;
  left: 86%;
  img {
    height: 1em;
    width: 1em;
  }

  @media(max-width: 650px) {
    top: 0%;
    left: 89%;
  }
}

