<div class="m-5">
  <h1>This the creation of a new playlist</h1>
  <p>find me in app/views/playlists/new.html.erb</p>

  <div class="m-3">
    <%= simple_form_for [ @explorer, @playlist ] do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
