<div class="m-5">
  <h1>This the playlist <%= @playlist.name %> show</h1>
  <p>find me in app/views/playlists/show.html.erb </p>

  <h3>Musics:</h3>
  <% @playlist.musics.each do |music| %>
    <p><%= music.name %></p>
  <% end %>
</div>
