name: Tests

on:
  push:
    branches:
      - master
      - dev

jobs:
  test:
    env:
      RAILS_ENV: test
      NODE_ENV: test

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1 # short for https://github.com/ruby/setup-ruby
        with:
          bundler: "Gemfile.lock"
          bundler-cache: true
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: Yarn install
        run: yarn install --frozen-lockfile
      - name: Prepare DB
        run: | # Pipe is important, adds line breaks
          cp config/database.github.yml config/database.yml
          bundle exec rails db:test:prepare
      - name: Run model tests
        run: bundle exec rails test
      - name: Run system tests
        run: bundle exec rails test:system

